# compiled class files
*.class

# package files
*.jar
*.war
*.ear

# Eclipse files
.project
.classpath
.factorypath
.faces-config.xml.jsfdia
.settings/
.metadata/
bin/

# Intellij-IDEA files
*.iml
.idea/
out/

# Netbeans files
nbactions.xml

# Maven files
target/

# Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# ignore thumbnails created by Windows
Thumbs.db

# backup files
*~
*.bak

# log files
*.log
